<head>
  <title>{{ title }} | Silver Shop</title>

  <meta charset="utf-8" />
  <meta name="author" content="themesflat.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- 
  <link rel="stylesheet" href="assets/admin/font/fonts.css" />
  <link rel="stylesheet" href="assets/admin/icon/style.css" />
  <link rel="stylesheet" type="text/css" href="assets/admin/css/sweetalert.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/admin/css/custom.css" /> -->

  <link rel="shortcut icon" href="assets/app/images/nar-eys1.jpeg" />
  <link rel="apple-touch-icon-precomposed" href="assets/app/images/nar-eys1.jpeg" />
</head>
