<main class="pt-60 pb-5">
  <div class="mb-4 pb-4"></div>
  <section class="login-register container" style="max-width: 500px">
    <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
      <li class="" role="presentation">
        <h3>Verify Email</h3>
      </li>
    </ul>

    <div class="tab-content pt-2" id="login_register_tab_content">
      <div class="tab-pane fade show active" id="tab-item-login" role="tabpanel">
        <div>{{ message }}</div>
      </div>
    </div>
  </section>
</main>
