<main class="pt-60 pb-5">
  <div class="mb-4 pb-4"></div>
  <section class="login-register container" style="max-width: 500px">
    <ul class="nav nav-tabs mb-5" id="login_register" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link_underscore active">Reset Password</a>
      </li>
    </ul>

    <div class="tab-content pt-2" id="login_register_tab_content">
      <div class="tab-pane fade show active">
        <div class="login-form">
          <p *ngIf="message" [class]="messageClass">{{ message }}</p>

          <form (submit)="handleResetPassword($event)" class="needs-validation">
            <!-- Password Input -->
            <div class="mb-3 position-relative">
              <label for="password">New Password *</label>
              <input
                class="form-control form-control_gray"
                [type]="showPassword ? 'text' : 'password'"
                name="password"
                [(ngModel)]="password"
                required
              />
              <i 
                class="fa" 
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="togglePasswordVisibility()"
                style="cursor: pointer; position: absolute; right: 15px; top: 65%; transform: translateY(-50%)"
              ></i>
            </div>

            <!-- Confirm Password Input -->
            <div class="mb-3 position-relative">
              <label for="passwordConfirmation">Confirm New Password *</label>
              <input
                class="form-control form-control_gray"
                [type]="showConfirmPassword ? 'text' : 'password'"
                name="passwordConfirmation"
                [(ngModel)]="passwordConfirmation"
                required
              />
              <i 
                class="fa" 
                [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="toggleConfirmPasswordVisibility()"
                style="cursor: pointer; position: absolute; right: 15px; top: 65%; transform: translateY(-50%)"
              ></i>
            </div>

            <button class="btn text-white bg-black w-100 text-uppercase" type="submit">
              Confirm
            </button>
            <div class="customer-option mt-4 text-center">
              <span class="text-secondary">No account yet?</span>
              <a routerLink="/client/register" class="btn-text js-show-register ms-2 text-black">
                Create Account
              </a> |
              <a routerLink="/client/login" class="btn-text js-show-register text-black">
                Login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
