<section class="category-banner container">
  <div class="row">
    <div class="col-md-6" *ngFor="let category of categories">
      <div class="category-banner__item border-radius-10 mb-5">
        <img
          loading="lazy"
          class="h-auto"
          [src]="category.image"
          width="690"
          height="665"
          [alt]="category.title"
        />
        <div class="category-banner__item-mark">
          Starting at {{ category.price }}
        </div>
        <div class="category-banner__item-content">
          <h3 class="mb-0">{{ category.title }}</h3>
          <a
            href="#"
            class="btn-link default-underline text-uppercase fw-medium"
          >
            Shop Now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
